<div class="main-container">
  <h1>News</h1>
  <hr>
  <div class="clr-row">
    <div class="clr-col-12 clr-col-sm-4">
      <div class="card clickable">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">...</p>
        </div>
        <div class="card-footer">
          <a class="card-link">Click</a>
        </div>
      </div>
    </div>
    <div class="clr-col-12 clr-col-sm-4">
      <div class="card clickable">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">...</p>
        </div>
        <div class="card-footer">
          <a class="card-link">Click</a>
        </div>
      </div>
    </div>
    <div class="clr-col-12 clr-col-sm-4">
      <div class="card clickable">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">...</p>
        </div>
        <div class="card-footer">
          <a class="card-link">Click</a>
        </div>
      </div>
    </div>
    <div class="clr-col-12 clr-col-sm-4">
      <div class="card clickable">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">...</p>
        </div>
        <div class="card-footer">
          <a class="card-link">Click</a>
        </div>
      </div>
    </div>
    <div class="clr-col-12 clr-col-sm-4">
      <div class="card clickable">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">...</p>
        </div>
        <div class="card-footer">
          <a class="card-link">Click</a>
        </div>
      </div>
    </div>
    <div class="clr-col-12 clr-col-sm-4">
      <div class="card clickable">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">...</p>
        </div>
        <div class="card-footer">
          <a class="card-link">Click</a>
        </div>
      </div>
    </div>
    <div class="clr-col-12 clr-col-sm-4">
      <div class="card clickable">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">...</p>
        </div>
        <div class="card-footer">
          <a class="card-link">Click</a>
        </div>
      </div>
    </div>
    <div class="clr-col-12 clr-col-sm-4">
      <div class="card clickable">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">...</p>
        </div>
        <div class="card-footer">
          <a class="card-link">Click</a>
        </div>
      </div>
    </div>
    <div class="clr-col-12 clr-col-sm-4">
      <div class="card clickable">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">...</p>
        </div>
        <div class="card-footer">
          <a class="card-link">Click</a>
        </div>
      </div>
    </div>
    <div class="clr-col-12 clr-col-sm-4">
      <div class="card clickable">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">...</p>
        </div>
        <div class="card-footer">
          <a class="card-link">Click</a>
        </div>
      </div>
    </div>
    <div class="clr-col-12 clr-col-sm-4">
      <div class="card clickable">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">...</p>
        </div>
        <div class="card-footer">
          <a class="card-link">Click</a>
        </div>
      </div>
    </div>
    <div class="clr-col-12 clr-col-sm-4">
      <div class="card clickable">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">...</p>
        </div>
        <div class="card-footer">
          <a class="card-link">Click</a>
        </div>
      </div>
    </div>
  </div>
</div>
